# Google Drive direct-download URL for the resume PDF.
# The file must be shared as "Anyone with the link: Viewer".
# Take the FILE_ID from the share link (drive.google.com/file/d/FILE_ID/view).
VITE_RESUME_URL=https://drive.google.com/uc?export=download&id=<FILE_ID>
